<section id="quick-nav" class="section">
  <div class="accordion">
    <div class="accordion-item glass open" data-acc>
      <div class="accordion-header" data-acc-toggle>
        <div class="title">سیستم عامل</div>
        <div class="icons">
          <img src="icons/android.svg" alt="android" width="18" height="18"/>
          <img src="icons/apple.svg" alt="ios" width="18" height="18"/>
          <img src="icons/windows.svg" alt="windows" width="18" height="18"/>
          <span class="chevron">▾</span>
        </div>
      </div>
      <div class="accordion-content">
        <ul class="list-menu">
          <li class="list-item" data-route="os" data-os="ios">
            <div class="label"><img src="icons/apple.svg" alt="ios"/> آیفون</div>
          </li>
          <li class="list-item" data-route="os" data-os="android">
            <div class="label"><img src="icons/android.svg" alt="android"/> اندروید</div>
          </li>
          <li class="list-item" data-route="os" data-os="windows">
            <div class="label"><img src="icons/windows.svg" alt="windows"/> ویندوز</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="accordion-item glass" data-acc>
      <div class="accordion-header" data-acc-toggle>
        <div class="title">پنل ها</div>
        <div class="icons">
          <img src="icons/html-5.svg" alt="site" width="18" height="18"/>
          <img src="icons/python.svg" alt="python" width="18" height="18"/>
          <span class="chevron">▾</span>
        </div>
      </div>
      <div class="accordion-content">
        <ul class="list-menu">
          <li class="list-item" data-route="page" data-page="panel-site.html">
            <div class="label"><img src="icons/html-5.svg" alt="site"/> سایتی</div>
          </li>
          <li class="list-item" data-route="page" data-page="panel-python.html">
            <div class="label"><img src="icons/python.svg" alt="python"/> پایتونی</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="accordion-item glass" data-acc>
      <div class="accordion-header" data-acc-toggle>
        <div class="title">سرور اختصاصی</div>
        <div class="icons">
          <img src="icons/openvpn.svg" alt="ovpn" width="18" height="18"/>
          <img src="icons/dns.png" alt="dns" width="18" height="18"/>
          <img src="icons/wireguard.svg" alt="wg" width="18" height="18"/>
          <span class="chevron">▾</span>
        </div>
      </div>
      <div class="accordion-content">
        <ul class="list-menu">
          <li class="list-item" data-route="page" data-page="openvpn.html">
            <div class="label"><img src="icons/openvpn.svg" alt="ovpn"/> اوپن وی پی ان</div>
          </li>
          <li class="list-item" data-route="page" data-page="dns.html">
            <div class="label"><img src="icons/dns.png" alt="dns"/> دی ان اس</div>
          </li>
          <li class="list-item" data-route="page" data-page="wireguard.html">
            <div class="label"><img src="icons/wireguard.svg" alt="wg"/> وایرگارد</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
